---
const experiences = [
  {
    date: "ABR 2024 — PRESENTE",
    title: "Analista Sênior",
    company: "Banco de Brasília (BRB)",
    url: "https://www.brb.com.br/",
    description:
      "Atuação na parte de produção, controlando o mainframe. Desenvolvi um portal de produção que monitora toda a estrutura mainframe (ZOs) e envia alertas automáticos via Teams, utilizando meus conhecimentos de full-stack.",
    tech: ["React", "Postgres SQL", "ZOs", "IWS", "APIs"],
  },
  {
    date: "AGO 2025 — PRESENTE",
    title: "Pesquisador Federal",
    company: "IBICT / COTEC",
    url: "https://www.gov.br/ibict/pt-br",
    description:
      "Atuação em projetos como desenvolvedor front-end, incluindo os projetos Progredir e SESAI, focando na criação de interfaces modernas e eficientes.",
    tech: ["React", "Next.js", "Angular", "Figma"],
  },
  {
    date: "MAR 2022 — ABR 2024",
    title: "Desenvolvedor Full-stack Pleno",
    company: "Banco do Brasil (Stefanini)",
    url: "https://www.bb.com.br/",
    description:
      "Desenvolvimento full-stack baseado na demanda interna da gerência responsável pelo crédito rural. Fui responsável pelo desenvolvimento do front-end, criação de serviços e operações no back-end, configuração de rotas e implementação de testes unitários.",
    tech: ["AngularJS", "Oracle DB", "Java", "Spring boot"],
  },
  {
    date: "MAR 2017 — MAR 2019",
    title: "Estagiário",
    company: "TELEBRÁS",
    url: "https://www.telebras.com.br/",
    description:
      "Desenvolvimento de aplicações individuais para suporte às demandas internas da gerência e implementações na intranet da Telebrás.",
    tech: ["HTML", "CSS", "PHP", "MySQL", "Bootstrap"],
  },
  {
    date: "JUN 2016 — MAR 2019",
    title: "Desenvolvedor Front-end Júnior",
    company: "UIoT (PIBIC)",
    url: "#",
    description:
      "Participação no projeto de iniciação científica (PIBIC), consolidando a base de desenvolvimento front-end e introdução a frameworks modernos.",
    tech: ["Foundation", "Bootstrap", "CSS", "HTML", "JavaScript"],
  },
];
---

<section
  id="experience"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="Experiência profissional"
>
  <div
    class="sticky top-12 z-20 -mx-6 mb-4 w-screen bg-bg-navy/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2
      class="text-sm font-bold uppercase tracking-widest text-lightest-slate lg:sr-only"
      data-i18n="nav.experience"
    >
      Experiência
    </h2>
  </div>
  <div>
    <ol class="group/list">
      {
        experiences.map((exp, index) => (
          <li class="mb-12">
            <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
              <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-bg-navy-light/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg" />
              <header
                class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-custom sm:col-span-2"
                aria-label={exp.date}
              >
                {exp.date}
              </header>
              <div class="z-10 sm:col-span-6">
                <h3 class="font-medium leading-snug text-lightest-slate">
                  <div>
                    <a
                      class="inline-flex items-baseline font-medium leading-tight text-lightest-slate hover:text-teal-custom focus-visible:text-teal-custom  group/link text-base"
                      href={exp.url}
                      target="_blank"
                      rel="noreferrer"
                      aria-label={`${exp.title} at ${exp.company}`}
                    >
                      <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block" />
                      <span data-i18n={`exp.${index}.title`}>
                        {exp.title} ·{" "}
                        <span class="inline-block">
                          {exp.company}
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                            aria-hidden="true"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </span>
                      </span>
                    </a>
                  </div>
                </h3>
                <p
                  class="mt-2 text-sm leading-normal"
                  data-i18n={`exp.${index}.desc`}
                >
                  {exp.description}
                </p>
                <ul class="mt-4 flex flex-wrap" aria-label="Technologies used">
                  {exp.tech.map((t) => (
                    <li class="mr-1.5 mt-2">
                      <div class="flex items-center rounded-full bg-teal-custom/10 px-3 py-1 text-xs font-medium leading-5 text-teal-custom">
                        {t}
                      </div>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          </li>
        ))
      }
    </ol>
  </div>
</section>
